<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Button ID -->
  <arg name="button_ID" default="0"/>

  <!-- Pose for Spawn -->
  <arg name="x" default="1.0"/>
  <arg name="y" default="1.0"/>
  <arg name="z" default="1.0"/>
  <arg name="R" default="0.0"/>
  <arg name="P" default="1.5707"/>
  <arg name="Y" default="0.0"/>

  <group ns="button">
    <group ns="$(arg button_ID)">

      <!-- Load button description file -->
      <param name="robot_description" command="$(find xacro)/xacro '$(find manipulation_playground_articulated_devices)/devices/button/model/button.urdf.xacro'"/>
      <param name="tf_prefix" value="button/$(arg button_ID)" />

      <!-- Spawn button -->
      <node name="button_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
      args="-urdf -param robot_description -model button -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg Y) -P $(arg P) -R $(arg R)"/>

      <!-- State publisher -->
      <node name="button_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="100.0"/>
      </node>

      <!-- Controllers -->
      <rosparam file="$(find manipulation_playground_articulated_devices)/devices/button/controllers/button_controllers.yaml" command="load"/>
      
      <node name="button_controllers_spawner" pkg="controller_manager" type="controller_manager"
      args="spawn button_joint_state_controller button_twist_controller button_controller" respawn="false" output="screen"/>

      <!-- Actuation node -->
      <node pkg="manipulation_playground_articulated_devices" name="button_actuation_node" type="button_actuation_node.py" output="screen"/>

      <!-- Transform broadcaster -->
      <node pkg="tf2_ros" type="static_transform_publisher" name="button_broadcaster" args="$(arg x) $(arg y) $(arg z) $(arg Y) $(arg P) $(arg R) odom button/$(arg button_ID)/world"/>
    </group>
  </group>

</launch>
