<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Switch ID -->
  <arg name="ID" default="0"/>

  <!-- Pose for Spawn -->
  <arg name="x" default="1.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="1.0"/>
  <arg name="R" default="0.0"/>
  <arg name="P" default="0.0"/>
  <arg name="Y" default="0.0"/>

  <!-- Dynamic Properties -->
  <arg name="dynamics" default="normal"/>
  <arg name="initial_activation_state" default="false"/>

  <arg name="initial_joint_state" default="0.0" unless="$(arg initial_activation_state)"/>
  <arg name="initial_joint_state" value="-1.5707" if="$(arg initial_activation_state)"/>

  <group ns="safety_switch">
    <group ns="$(arg ID)">

      <!-- Load switch description file -->
      <param name="robot_description" command="$(find xacro)/xacro $(find manipulation_playground_articulated_devices)/devices/safety_switch/model/safety_switch.urdf.xacro"/>
      <param name="tf_prefix" value="safety_switch/$(arg ID)" />

      <!-- Spawn switch -->
      <node name="safety_switch_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
      args="-urdf -param robot_description -model safety_switch_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg Y) -P $(arg P) -R $(arg R) -J switch_joint $(arg initial_joint_state)"/>

      <!-- State publisher -->
      <node name="safety_switch_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="100.0"/>
      </node>

      <!-- Controllers -->
      <rosparam file="$(find manipulation_playground_articulated_devices)/devices/safety_switch/controllers/safety_switch_controllers.yaml" command="load"/>
      
      <node name="safety_switch_controllers_spawner" pkg="controller_manager" type="controller_manager"
      args="spawn safety_switch_joint_state_controller safety_switch_controller_$(arg dynamics)" respawn="false" output="screen"/>

      <node name="safety_switch_controller_command_relay" pkg="topic_tools" type="relay" args="safety_switch_controller/command safety_switch_controller_$(arg dynamics)/command" />

      <!-- Actuation node -->
      <node pkg="manipulation_playground_articulated_devices" name="safety_switch_actuation_node" type="safety_switch_actuation_node.py" output="screen"/>

      <!-- Transform broadcaster -->
      <node pkg="tf2_ros" type="static_transform_publisher" name="safety_switch_broadcaster" args="$(arg x) $(arg y) $(arg z) $(arg Y) $(arg P) $(arg R) odom safety_switch/$(arg ID)/world"/>
    </group>
  </group>

</launch>
