<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Handle ID -->
  <arg name="handle_ID" default="0"/>

  <!-- Pose for Spawn -->
  <arg name="x" default="1.0"/>
  <arg name="y" default="0.5"/>
  <arg name="z" default="1.0"/>
  <arg name="R" default="1.5707"/>
  <arg name="P" default="0.0"/>
  <arg name="Y" default="0.0"/>

  <group ns="handle">
    <group ns="$(arg handle_ID)">

      <!-- Load handle description file -->
      <param name="robot_description" command="$(find xacro)/xacro '$(find manipulation_playground_articulated_devices)/devices/handle/model/handle.urdf.xacro'"/>
      <param name="tf_prefix" value="handle/$(arg handle_ID)" />

      <!-- Spawn handle -->
      <node name="handle_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
      args="-urdf -param robot_description -model handle -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg Y) -P $(arg P) -R $(arg R)"/>

      <!-- State publisher -->
      <node name="handle_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="100.0"/>
      </node>

      <!-- Controllers -->
      <rosparam file="$(find manipulation_playground_articulated_devices)/devices/handle/controllers/handle_controllers.yaml" command="load"/>
      
      <node name="handle_controllers_spawner" pkg="controller_manager" type="controller_manager"
      args="spawn handle_joint_state_controller handle_controller" respawn="false" output="screen"/>

      <!-- Transform broadcaster -->
      <node pkg="tf2_ros" type="static_transform_publisher" name="handle_broadcaster" args="$(arg x) $(arg y) $(arg z) $(arg Y) $(arg P) $(arg R) odom handle/$(arg handle_ID)/world"/>
    </group>
  </group>

</launch>